# Dependencias
node_modules/
.pnpm-store/

# Builds
.next/
out/
dist/
build/
*.tsbuildinfo
next-env.d.ts

# Turborepo
.turbo/

# Tests
coverage/

# Variables de entorno
.env
.env*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Sistema / editores
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Vercel
.vercel

# Playwright
playwright-report/
test-results/
blob-report/
playwright/.cache/
